node_red/Integrate_With_OneControl.json
[
    {
        "id": "1e5b3032.718608",
        "type": "tab",
        "label": "OneControl - Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c32c2b7.957756",
        "type": "sse-client",
        "z": "1e5b3032.718608",
        "name": "Events",
        "url": "http://192.168.1.4:8080/rest/events",
        "events": [],
        "headers": {},
        "proxy": "",
        "restart": true,
        "rejectUnauthorized": false,
        "withCredentials": false,
        "timeout": "30",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5448ca2c.133a3c"
            ]
        ]
    },
    {
        "id": "28b0ddcd.7a158a",
        "type": "inject",
        "z": "1e5b3032.718608",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2c32c2b7.957756"
            ]
        ]
    },
    {
        "id": "5dceeec9.23416",
        "type": "json",
        "z": "1e5b3032.718608",
        "name": "",
        "property": "payload.payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "1cfc695d.cc2327"
            ]
        ]
    },
    {
        "id": "5448ca2c.133a3c",
        "type": "json",
        "z": "1e5b3032.718608",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "5dceeec9.23416"
            ]
        ]
    },
    {
        "id": "b5a4824f.cd66b",
        "type": "catch",
        "z": "1e5b3032.718608",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 770,
        "y": 40,
        "wires": [
            [
                "bbbd093a.1488e8"
            ]
        ]
    },
    {
        "id": "bbbd093a.1488e8",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 40,
        "wires": []
    },
    {
        "id": "4d0e80db.5b368",
        "type": "link out",
        "z": "1e5b3032.718608",
        "name": "",
        "links": [
            "53955a35.6c82fc",
            "8bdf1733.e797f8",
            "67e6fe7c.a2b16"
        ],
        "x": 315,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cfc695d.cc2327",
        "type": "rbe",
        "z": "1e5b3032.718608",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.topic",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "4d0e80db.5b368",
                "2002779a.10cfe8",
                "9277c9a1.6a9508"
            ]
        ]
    },
    {
        "id": "5f7fa981.9fc5d8",
        "type": "mqtt in",
        "z": "1e5b3032.718608",
        "name": "",
        "topic": "smarthome/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "4410210f.6939c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 660,
        "wires": [
            [
                "7a79c778.1dbd48",
                "3c9f68ec.a01a9"
            ]
        ]
    },
    {
        "id": "497322ef.a2675c",
        "type": "http request",
        "z": "1e5b3032.718608",
        "name": "OneControl API Call",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 820,
        "y": 660,
        "wires": [
            [
                "8752f523.3597b8"
            ]
        ]
    },
    {
        "id": "8752f523.3597b8",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "46e74912.470c88",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "7a79c778.1dbd48",
        "type": "switch",
        "z": "1e5b3032.718608",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/set",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "99e7474b.59c7a8",
                "a47a03e9.b14cf"
            ],
            [
                "46e74912.470c88"
            ]
        ]
    },
    {
        "id": "99e7474b.59c7a8",
        "type": "function",
        "z": "1e5b3032.718608",
        "name": "Format Message",
        "func": "var msg1 = {}\n\nmsg.item = msg.topic.split(\"/\")\n\nmsg1.headers = {\"Content-Type\": \"text/plain\", \"Accept\": \"application/json\"}\nmsg1.payload = msg.payload.toUpperCase()\nmsg1.url = \"http://192.168.1.4:8080/rest/items/\"+ msg.item[2]\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "7f20ab59.4a0ce4",
                "497322ef.a2675c"
            ]
        ]
    },
    {
        "id": "2002779a.10cfe8",
        "type": "function",
        "z": "1e5b3032.718608",
        "name": "Collapse Message",
        "func": "\nvar msg1 = {}\n\nmsg1.record = msg\nmsg1.topic = msg.payload.topic\nmsg1.payload = msg.payload.payload\nmsg1.payload.event = msg.event\nmsg1.payload.eventtype = msg.payload.type\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 320,
        "wires": [
            [
                "bd149ce4.3337b"
            ]
        ]
    },
    {
        "id": "b2843a32.ff9ab8",
        "type": "mqtt out",
        "z": "1e5b3032.718608",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4410210f.6939c",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "9277c9a1.6a9508",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "75184c30.50a7d4",
        "type": "function",
        "z": "1e5b3032.718608",
        "name": "(OLD) Format Values - ItemStateEvent",
        "func": "\nfunction roundNum0(i) {\n    i = Number(i)\n    i = i.toFixed(0)\n    i = Number(i)\n    return i\n}\nvar msg1 = {}\nmsg1.record = msg.record\nmsg1.topic = msg.topic\n\nswitch (msg.payload.type) {\n    case \"Decimal\":\n        msg1.payload = roundNum0(msg.payload.value)\n        break;\n    default:\n        msg1.payload = msg.payload.value.toLowerCase()\n    }\n    \n    \nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "b2843a32.ff9ab8",
                "a9bf6223.535dc"
            ]
        ]
    },
    {
        "id": "bd149ce4.3337b",
        "type": "switch",
        "z": "1e5b3032.718608",
        "name": "Sort by Record type",
        "property": "record.payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ItemStateEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ThingStatusInfoEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ItemStateChangedEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ItemCommandEvent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "75184c30.50a7d4"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "a47a03e9.b14cf",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "7f20ab59.4a0ce4",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "a9bf6223.535dc",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c9f68ec.a01a9",
        "type": "debug",
        "z": "1e5b3032.718608",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 620,
        "wires": []
    },
    {
        "id": "8e85cc7da46a66b1",
        "type": "comment",
        "z": "1e5b3032.718608",
        "name": "This section monitors changes to the MQTT /Set topic and converts them to API calls to the OneControl system",
        "info": "",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "4410210f.6939c",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
